extends baseEmail

block content
    p Hi #{name},
    p Click button below to reset your password
    p link will be expired in 10 minutes
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p - Team